* {
  padding: 0;
  margin: 0;
  border: 0;
}
body {
  width: 100%;
}

nav {
  background-color: #fff0e5;
  width: 100%;
  overflow: auto;
  /* border-bottom: 1px solid black; */
}
ul {
  margin: 0 0 0 50%;
  list-style: none;
}
li {
  float: left;
}
nav a {
  width: 100px;
  display: block;
  padding: 20px 15px;
  text-decoration: none;
  font-family: Arial;
  text-align: center;
  color: black;
  letter-spacing: 1.5px;
}

nav a:hover {
  color: blue;
  text-decoration: none;
}

.signup {
  background-color: blue;
  color: white;
  border-radius: 9px;
  margin-left: 15px;
  padding-left: 0px;
  padding-right: 0px;
  margin-right: 15px;
  padding-top: 5px;
  margin-top: 15px;
  padding-bottom: 5px;
  margin-bottom: 15px;
  border: 3px solid blue;
  text-decoration: none;
  transition: all 200ms;
}

.signup:hover {
  background-color: #fff0e5;
  color: black;
  transition: all 200ms;
}

.div1 {
  height: 750px;
  text-align: center;
  background-color: #fff0e5;
}

h1 {
  position: relative;
  top: 30%;
  display: inline;
  font-size: 420%;
  text-decoration: 2px underline;
  transition: all 500ms;
  font-family: "Roboto", sans-serif;
}

h1:hover {
  background-color: black;
  color: white;
  transition: all 400ms;
  text-decoration: none;
}

button {
  padding: 30px 60px;
  background-color: white;
  color: black;
  border: 1px solid black;
  display: block;
  margin: 0 auto;
  transition: box-shadow 200ms;
  position: relative;
  top: 50%;
  font-size: larger;
  font-weight: 900;
  letter-spacing: 2px;
  cursor: pointer;
  /* box-shadow: 8px 8px 0 black; */
}
button a {
  text-decoration: none;
  color: black;
}

button:hover {
  box-shadow: 11px 11px 0 black;
  animation-duration: 2s;
  transition: box-shadow 100ms;
}

.div2 {
  background-color: white;
  border-top: 2px dotted black;
  border-bottom: 1px solid black;
  height: 700px;
  background-color: #10162f;
}

.div-2-heading {
  color: white;
  position: relative;
  left: 60%;
  display: inline;
  top: 40%;
  font-family: "Roboto", sans-serif;
  font-size: 250%;
}

.top-comment {
  position: relative;
  height: 80%;
  left: 10%;
  bottom: 2%;
  width: 30%;
  background-color: #fff0e5;
  transition: all 300ms;
  box-shadow: 9px 9px #ffd300;
}

.top-comment:hover {
  box-shadow: 15px 15px #ffd300;
  transition: all 200ms;
}

.p-div-2 {
  padding: 28px;
  font-size: 30px;
  line-height: 1.5;
  font-family: "Nunito Sans", sans-serif;
}

.p-2-div-2 {
  padding: 28px;
}
.div3 {
  height: 900px;
  background-color: #ffd300;
}

.top-comment-button {
  display: inline;
  position: relative;
  top: 55%;
  left: 35%;
  padding: 20px;
  background-color: #10162f;
  border: 2px solid #ffd300;
  border-radius: 3px;
}

.top-comment-button a {
  color: white;
  font-weight: 500;
}

.top-comment-button:hover {
  box-shadow: none;
}

.heading-div-3 {
  position: relative;
  display: inline;
  left: 41%;
  top: 7%;
  font-size: 50px;
  font-family: "Roboto", sans-serif;
  padding: 4px;
  transition: all 200ms;
  text-align: center;
  box-shadow: 9px 9px #10162f;
  background-color: white;
}

.heading-div-3:hover {
  background-color: #ffd300;
  box-shadow: none;
  color: #10162f;

  transition: all 200ms;
}

.name {
  font-size: 30px;
  font-family: "Nunito Sans", sans-serif;
  font-weight: 600;
}

.div-4 {
  background-color: #fff0e5;
  height: 130px;
  border-top: 2px dotted black;
  padding: 40px 0;
}
.icons {
  text-align: center;
  padding-bottom: 20px;
}
.icons a:first-child:hover {
  color: #1877f2;
  transition: all 100ms;
}
.icons a:nth-child(2):hover {
  color: #1d9bf0;
  transition: all 100ms;
}

.icons a:nth-child(3):hover {
  color: #0077b5;
  transition: all 100ms;
}
.icons a:last-child:hover {
  color: #171515;
  transition: all 100ms;
}

.div-4 .icons a {
  font-size: 35px;
  display: inline-block;
  margin: 7px;
  color: grey;
  transition: all 100ms;
}
.footer-list {
  margin: 0px;
}
.div-4 .footer-list li {
  font-size: 20px;

  margin: 6px;
}
.div-4 .footer-list a {
  text-decoration: none;
  color: gray;
  font-family: "Roboto", sans-serif;
  transition: all 200ms;
}
.div-4 .footer-list a:hover {
  background-color: black;
  color: white;
  transition: all 200ms;
}
.div-4 p {
  float: right;
  background-color: #10162f;
  color: white;
  margin: 2px 2px;
  font-family: "Nunito Sans", sans-serif;
}

form {
  margin-top: 10%;
  text-align: center;
}
.ip {
  width: 550px;
  height: 60px;
  border: none;

  outline: none;
  font-size: 20px;
  border-bottom: 2px solid black;
  background-color: #ffd300;
  transition: all 200ms;
  font-family: "Nunito Sans", sans-serif;
  font-weight: 700;
}

.ip:hover {
  background-color: #fff0e5;
  box-shadow: 5px 4px black;
  transition: all 200ms;
}

.ip:focus {
  box-shadow: 5px 4px black;
  transition: all 200ms;
  background-color: white;
}
.t-and-c {
  text-align: left;
}
.div3 em {
  background-color: white;
  cursor: pointer;
}
.div3 em:hover {
  background-color: #ffd300;
}

.div3 label {
  font-family: "Square Peg", cursive;
  font-size: 27px;
}

.submit,
.reset {
  padding: 12px 36px;
  margin-top: 30px;
  margin-right: 30px;
  font-size: 25px;
  color: white;
  font-family: "Inconsolata", monospace;
  background-color: blue;
  font-weight: 800;
  box-shadow: 4px 4px black;
  transition: all 200ms;
  cursor: pointer;
}
.submit:hover,
.reset:hover {
  box-shadow: 8px 8px black;
  transition: all 200ms;
}
